body {
  max-width: 60%;
  margin: auto; }
  @media (max-width: 1024px) {
    body {
      max-width: 85%; } }

.get-started-btn a {
  color: #d2691e;
  transition: 0.5s all; }

.get-started-btn a:hover {
  transition: 0.5s all;
  color: #00ab3e; }

header .button:hover {
  transform: scale(1.05);
  transition: 0.25s all;
  color: #00ab3e; }

footer {
  padding: 1em 0 0.5em; }
