body {
  max-width: 60%;
  margin: auto;
  background: url("./../../images/restaurant.jpg") rgba(62, 56, 56, 0.25);
  background-size: cover;
  background-blend-mode: color-burn; }
  @media (max-width: 1200px) {
    body {
      max-width: 90%; } }
  @media (max-width: 640px) {
    body {
      max-width: 95%; } }

a {
  transition: 0.5s all; }

a:hover {
  transition: 0.5s all;
  color: #fdc244; }

header a:hover {
  transform: scale(1.05);
  transition: 0.25s all;
  color: #fdc244; }

footer {
  padding: 1em 0 0.5em; }
