body {
  max-width: 60%;
  margin: auto;
  @media (max-width: 1200px) {
    max-width: 90%;
  }
  @media (max-width: 640px) {
    max-width: 95%;
  }
}

.get-started-btn {
  a {
    transition: 0.5s all;
  }
  a:hover {
    transition: 0.5s all;
    color: #fdc244;
  }
}

header a:hover {
  transform: scale(1.05);
  transition: 0.25s all;
  color: #fdc244;
}

// .nav-trigger-arrow {
//   transform: rotate(0deg);
//   transition: all 0.5s;
//   &.close {
//     transform: rotate(180deg);
//     transition: all 0.5s;
//   }
// }

footer {
  padding: 1em 0 0.5em;
}