body {
  max-width: 60%;
  margin: auto;
  overflow-y: scroll;
  @media (max-width: 1200px) {
    max-width: 90%;
  }
  @media (max-width: 640px) {
    max-width: 95%;
  }
  background: url('./../../images/bg-2.jpg') rgba(62, 56, 56, 0.36);
  background-size: cover;
  background-blend-mode: color-burn;
}

a {
  transition: 0.5s all;
}
a:hover {
  transition: 0.5s all;
  transform: scale(1.05);
  color: #fdc244;
}

p {
  line-height: 1.6em;
}

nav {
  box-shadow: 0px 0px 10px 0px #656668;
}

nav.mobile {
  background: rgba(0, 0, 0, 0.75); border-radius: 0 0 1em 1em;
  transition: 0.5s all;
}

.social {
  line-height: 0;
  background: rgba(255, 255, 255, 0.75);

  img {
    width: 2.4em;
  }
}

footer {
  padding: 1em 0 0.5em;
}